<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KoChat</title>
        <link rel='stylesheet' type = 'text/css' href='loginPage/loginPage.css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    </head>
    <section id="home" class="min-h-100vh flex justify-start items-center">
        <div class="mx-auto">
            <div>
                <h1 class="black lh-2 md-fs-xl3" style="font-family: 'Righteous', cursive;"> &nbsp;Ko Chat</h1>
            </div>
                <a href='{{login_link}}'>
                    <button class='custom-btn btn-15'>
                        Login to ION
                    </button>
                </a>
        </div>
    </section>
</html>